*,
::after,
::before {
  box-sizing: border-box;
}

button {
  border-radius: 0.2rem;
}

input {
  margin: 0 20px;
  width: calc(100% - 5px);
}
.dropBoxContainer {
  position: relative;
  width: auto;
  font: inherit;
  font-size: inherit;
}

.selectBox {
  display: flex;
  justify-content: baseline;
  border: 1px solid #eee;
  padding: 0.4rem;
  border-radius: 0.2rem;
  min-width: 10rem;
  flex-wrap: wrap;
  box-shadow: 1px 2px 5px #ccc;
}

.selectedItem {
  padding: 0.2rem 0.6rem;
  margin: 0.2rem;
  border: 1px solid green;
  border-radius: 0.2rem;
  background-color: #efef;
  cursor: pointer;
  color: black;
  font-size: small;
}

.selectedItem:hover {
  opacity: 0.6;
}

.itemLabel {
  padding: 0.6rem 0.8rem;
  border-bottom: 1px solid #eee;
  margin: 0rem;
  cursor: pointer;
  background-color: white;
  color: rgb(29, 29, 29);
  width: 100%;
  font: inherit;
  font-size: small;
  opacity: 0.9;
  border-radius: 0.2rem;
}

.itemLabelFocused {
  padding: 0.6rem 0.8rem;
  border-bottom: 1px solid #eee;
  margin: 0rem;
  cursor: pointer;
  background-color: #eee;
  color: black;
  width: 100%;
  font: inherit;
  font-size: small;
  border-radius: 0.2rem;
}
.itemLabel:hover {
  background-color: #ccc;
  color: black;
}

.itemLabelFocused:hover {
  background-color: #ccc;
  color: black;
}

.itemLabel:last-child {
  border-bottom: none;
}

.dropDownBox {
  position: absolute;
  min-width: 12rem;
  width: max-content;
  border: 1px solid #eee;
  border-radius: 0.1rem;
  box-shadow: 1px 2px 5px #ccc;
  background-color: white;
  transition: all 1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0rem);
  visibility: hidden;
  opacity: 0;
}

.dropDownBoxShow {
  position: absolute;
  min-width: 12rem;
  width: max-content;
  border: 1px solid #eee;
  border-radius: 0.2rem;
  box-shadow: 1px 2px 5px #ccc;
  background-color: white;
  transition: all 1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.6rem);
  visibility: visible;
  opacity: 1;
}

.searchBox {
  padding: 0.6rem 0.8rem;
  background-color: #eee;
  border: none;
  outline: none;
  margin: 0.2rem;
  border-radius: 0.2rem;
  font-size: small;
}

.scrollVertical {
  max-height: 15em;
  overflow-y: scroll;
  padding: 0.2rem;
  width: 100%;
  background-color: white;
}

.icon {
  position: absolute;
  background-color: white;
  padding: 0.2rem;
  right: 0;
  cursor: pointer;
}
