*,
::after,
::before {
  box-sizing: border-box;
}

input {
  margin: 0 20px;
  width: calc(100% - 5px);
}
.dropBoxContainer {
  position: relative;
  width: auto;
  font: inherit;
  font-size: inherit;
}

.selectBox {
  display: flex;
  justify-content: baseline;
  border: 1px solid #eee;
  padding: 0.4rem;
  border-radius: 0.2rem;
  min-width: 10rem;
  flex-wrap: wrap;
  box-shadow: 1px 2px 5px #ccc;
}

.selectedItem {
  padding: 0.2rem 0.6rem;
  margin: 0.2rem;
  border: 1px solid green;
  border-radius: 0.2rem;
  background-color: #efef;
  cursor: pointer;
  color: black;
  font-size: small;
}

.selectedItem:hover {
  opacity: 0.6;
}

.itemLabel {
  padding: 0.6rem 0.8rem;
  border-bottom: 1px solid #eee;
  margin: 0rem;
  cursor: pointer;
  background-color: white;
  color: black;
  width: 100%;
  font: inherit;
  font-size: small;
}
.itemLabel:hover {
  background-color: #eee;
  border-radius: 0.2rem;
}

.itemLabel:last-child {
  border-bottom: none;
}

.dropDownBox {
  margin-top: 0.6rem;
  position: absolute;
  min-width: 12rem;
  width: max-content;
  border: 1px solid #eee;
  border-radius: 0.2rem;
  box-shadow: 1px 2px 5px #ccc;
  background-color: white;
}

.searchBox {
  padding: 0.6rem 0.8rem;
  background-color: #eee;
  border: none;
  outline: none;
  margin: 0.2rem;
  border-radius: 0.2rem;
  font-size: small;
}

.scrollVertical {
  max-height: 15em;
  overflow-y: scroll;
  padding: 0.2rem;
  width: 100%;
  background-color: white;
}

.icon {
  position: absolute;
  background-color: white;
  padding: 0.2rem;
  right: 0;
  cursor: pointer;
}
